//- index.pug
extends ../../../layout/layout.pug

block title
	title Подготовительные работы

block main
	h3 Подготовительные работы:​
	ul
		li Разборка (демонтаж) зданий и сооружений, стен, перекрытий, лестничных маршей и иных конструктивных и связанных с ними элементов или их частей;​
		li Строительство временных дорог, площадок, инженерных сетей и сооружений;​
		li Устройство рельсовых подкрановых путей и фундаментов (опоры) стационарных кранов;​
		li Установка и демонтаж инвентарных наружных и внутренних лесов, технологических мусоропроводов​
		li Разметка и ограждение строительной площадки​
		li дренажные работы​
		li обозначение точек подвоза и складирования материалов​
		li размещение рабочих​