//- index.pug
extends ../../../layout/layout.pug

block title
	title Наружные сети теплоснабжения​

block main
	h3 Наружные тепловые сети​
​
	p Наружная тепловая сеть (теплотрасса) это система трубопроводов предназначенная для транспортировки теплоносителя от источника тепла (ТЭЦ) до потребителя.​
	p Магистральная теплосеть – тепловая сеть от (источника тепла) ТЭЦ до абонентских распределительных камер.​
	p Абонентский ввод – участок тепловой сети от абонентской распределительной камеры до потребителя (ввода в здание или тепловой пункт).​
 ​
	p Прокладка теплотрасс выполняется следующими методами:​
	ul
		li Канальная тепловая сеть (теплотрасса) в которой трубопровод укладывается в предварительно построенный в земле канал. Канал тепловой сети может быть железобетонный или собранный из железобетонных лотков. Канал после монтажа трубопровода накрывается железобетонными плитами покрытия и производится гидроизоляция канала.​
		li Бесканальная тепловая сеть (теплотрасса) в которой изолированный трубопровод прокладывается непосредственно в грунт.​
	p Бесканальный способ прокладки теплотрасс не требует строительство железобетонных каналов. Тепловая сеть укладывается непосредственно в траншею, дно которой выравнивается, делается песочное основание, затем следует укладка трубопровода.​