//- index.pug
extends ../../../layout/layout.pug

block title
	title Наружные сети водоснабжения​

block main
	h3 Наружные сети водоснабжения​
	p Один из самых главных видов инженерных коммуникаций жилых и промышленных объектов. 
	p В зависимости от потребностей заказчика, водопроводная система может быть напорной или безнапорной. 
	p Прокладка инженерных конструкций для подвода питьевой и технической воды осуществляется вне помещений (наружные системы). 
	p Сеть состоит из магистральной трубы, имеющей ответвления для подключения к водопроводной сети объекта.