//- index.pug
extends ../../../layout/layout.pug

block title
	title Наружные сети канализации​

block main
	h3 Наружная канализация​
	p Наружная канализация в своем понятии объединяет автономные, локальные и городские сети. Правда, разделение между первыми двумя видами сетей весьма условно. Как правило, наружные канализационные сети являются самотечными – их прокладывают с небольшим уклоном по направлению продвижения стоков.​
​
	p Наружная канализация и ее сооружения могут быть организованы по следующим системам:
	ul
		li общесплавная система – в ней коллекторами принимаются как хозяйственно-бытовые, так и дождевые стоки,
		li полураздельная система – канализационные наружные сооружения и сети раздельно собирают хозяйственно-бытовые, дождевые стоки, и доставляют их в коллектор общесплавной,
		li раздельная система – предназначена для принятия хозяйственно-бытовых и дождевых стоков оборудованы отдельные коллекторы.​
​
	p Наружные сети канализации подразделяют на следующие виды:​
	ul
		li сети внутридворовые, ​
		li сети уличные, ​
		li коллекторы.​
​
	p В состав канализационных наружных сетей входят такие элементы, как:​
	ul
		li колодцы (поворотные, перепадные, смотровые и так далее). Обычно колодцы оснащены люками с крышками, а также скобами для спуска в колодец обслуживающего персонала. ​
		li локальные очистные сооружения, ​
		li насосные станции подкачки, ​
		li выпуски в водоприемники, ​
		li септики, ​
		li и прочее.​