//- common-build-works.pug
extends ../../../layout/layout.pug

block title
	title Общестроительные работы

block main
	h3 Общестроительные работы:
	ul
		li Устройство скважин​
		li Свайные работы, закрепление грунтов​
		li Устройство бетонных и железобетонных монолитных конструкций​
		li Монтаж сборных бетонных и железобетонных конструкций​
		li Монтаж по устройству каменных конструкций​
		li Монтаж металлических конструкций ​
		li Монтаж деревянных конструкций​
		li Защита строительных конструкций, трубопроводов и оборудования​
		li Устройство кровель​
		li Фасадные работы​
		li Устройство наружных сетей водопровода​
		li Устройство наружных сетей канализации​
		li Устройство наружных сетей теплоснабжения​
		li Устройство наружных сетей газоснабжения​
		li Устройство наружных электрических сетей и линий связи​
		li Монтажные работы​
		li Устройство автомобильных дорог и аэродромов