//- index.pug
extends ../../../layout/layout.pug

block title
	title Земляные работы

block main
	h3 Земляные работы:​
	ul
		li Механизированная разработка грунта​
		li Разработка грунта и устройство дренажей в водохозяйственном строительстве​
		li Разработка грунта методом гидромеханизации​
		li Работы по искусственному замораживанию грунтов ​
		li Уплотнение грунта​
		li Механизированное рыхление и разработка вечномерзлых грунтов​
		li Работы по водопонижению, организация поверхностного стока и водоотвода