html{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    max-width: 960px;
}

html::after {
  content: "";
  background: url('/content/kaska.jpg') no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

main {
    max-width: 500px;
}


main article::after {
    background: white;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;       
}

img.logo {
    width: 100%;
}

body nav .sf-menu li{
    background: greenyellow;
}

body nav .sf-menu li{
    background: greenyellow;
}