.left-col.menu
	ul 
		li
			a(href="index.entry") На главную
		li Строительство
			li Виды работ
				ul
					li Общеплощадочные работы
						ul
							li
								a(href="prepare-works.entry") Подготовительные работы
							li
								a(href="ground-works.entry") Земляные работы
							li
								a(href="common-build-works.entry") Общестроительные работы
							li
								a(href="contractor-functions.entry") Функции заказчика и генподрядчика
					li Наружные инженерные сети
						ul
							li
								a(href="ext-water-net.entry") Наружные сети водопровода​
							li
								a(href="ext-col-net.entry") Наружные сети канализации​
							li
								a(href="ext-warm-net.entry") Наружные сети теплоснабжения​
							li
								a(href="ext-gas-net.entry") Наружные сети газоснабжения​
							li
								a(href="ext-elec-net.entry") Наружные электрические сети и линии связи​
					li Внутренние инженерные сети
						ul
							li
								a(href=".entry") Внутренние сети водопровода​
							li
								a(href=".entry") Внутренние сети канализации​
							li
								a(href=".entry") Внутренние сети теплоснабжения​
							li
								a(href=".entry") Внутренние сети газоснабжения​
							li
								a(href=".entry") Внутренние электрические сети и линии связи​
			li
				a(href=".entry") Услуги спецтехники
			li
				a(href=".entry") Наши объекты
			li
				a(href=".entry") Партнёры
			li
				a(href=".entry") Контакты
		li Проектирование и экспертиза
			ul
				li Услуги Проектирования
					ul
						li
							a(href=".entry") Функции генерального проектировщика
						li
							a(href=".entry") Архитектурно-планировочная концепция​
						li
							a(href=".entry") Проекты планировки территории
						li
							a(href=".entry") Проекты жилых домов
						li
							a(href=".entry") Общественные здания и сооружения
						li
							a(href=".entry") Промышленное проектирование
						li
							a(href=".entry") Инженерные системы и сети
						li
							a(href=".entry") Согласование проектов
						li
							a(href=".entry") Авторский надзор
				li
					a(href=".entry") Обследование зданий и сооружений
				li
					a(href=".entry") Стоимость
				li
					a(href=".entry") Наши проекты
				li
					a(href=".entry") Реквизиты​
	